CompileFlags:
  CompilationDatabase: '/home/peder/school/embedded/course_assignment/compile_commands.json'
  Add:
    - -DF_CPU=16000000UL
    - -D__AVR_ATmega328P__
    - -I/home/peder/school/embedded/course_assignment/header
    - -isystem/opt/avr-toolchain/avr/include
    - -isystem/opt/avr-toolchain/lib/gcc/avr/15.1.0/include
    - -Wno-int-to-pointer-cast
    - -Wno-pointer-to-int-cast
    - -Wno-invalid-constexpr

Diagnostics:
  Suppress:
    - "invalid-asm-cast"
    - "asm_invalid_output_constraint"
    - "unknown-attributes"
    - "-Wcast-qual"
    - "int-to-pointer-cast"
    - "pointer-to-int-cast"
  ClangTidy:
    Remove:
      - "readability-*"
      - "modernize-*"
  UnusedIncludes: None
