CompileFlags:
  CompilationDatabase: '/home/peder/school/embedded/course_assignment/compile_commands.json'
  Add:
    - -DF_CPU=16000000UL
    - -D__AVR_ATmega328P__
    - -I/home/peder/school/embedded/course_assignment/header
